/* Write your CSS here! */
body{
 margin: 8px;
 display: block;
}

.row{
    margin: 5px;
}

img {
    
    height: auto;
    width: 100%;
}

#tabs{
   display: block; 
   opacity: 0.3;
   
}

#mainHeading{ color: red;}

.funParagraph{   color: green;}